/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Elegant Icons';
    src: url('assets/fonts/ElegantIcons/ElegantIcons.ttf')
}

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode/FiraCode-Regular.ttf')
}

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode/FiraCode-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Fira Code';
    src: url('assets/fonts/FiraCode/FiraCode-Light.ttf');
    font-weight: 300;
}

html {
    background-image: url( 'assets/endless-constellation.svg' );
}

html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}
