
<div class="content">
    <ph-slider-vertical [label]="'CLUSTER I'" [ticks]="['0', '0.2', '0.4', '0.6', '0.8', '1.0']" [value]="matrix[0] * 100" (valueChange)="onSliderValueChange(0, $event)"></ph-slider-vertical>
    <ph-slider-vertical [label]="'CLUSTER II'" [ticks]="['0', '0.2', '0.4', '0.6', '0.8', '1.0']" [value]="matrix[1] * 100" (valueChange)="onSliderValueChange(1, $event)"></ph-slider-vertical>
    <ph-slider-vertical [label]="'CLUSTER III'" [ticks]="['0', '0.2', '0.4', '0.6', '0.8', '1.0']" [value]="matrix[2] * 100" (valueChange)="onSliderValueChange(2, $event)"></ph-slider-vertical>
    <ph-slider-vertical [label]="'CLUSTER IV'" [ticks]="['0', '0.2', '0.4', '0.6', '0.8', '1.0']" [value]="matrix[3] * 100" (valueChange)="onSliderValueChange(3, $event)"></ph-slider-vertical>
    <ph-slider-vertical [label]="'CLUSTER V'" [ticks]="['0', '0.2', '0.4', '0.6', '0.8', '1.0']" [value]="matrix[4] * 100" (valueChange)="onSliderValueChange(4, $event)" ></ph-slider-vertical>
    <ph-slider-vertical [label]="'CLUSTER VI'" [ticks]="['0', '0.2', '0.4', '0.6', '0.8', '1.0']" [value]="matrix[5] * 100" (valueChange)="onSliderValueChange(5, $event)"></ph-slider-vertical>
</div>


