[submodule "libs/phobos/elements"]
	path = libs/phobos/elements
	url = https://github.com/PRIM-EDV/phobos-elements
[submodule "libs/phobos/core"]
	path = libs/phobos/core
	url = https://github.com/PRIM-EDV/phobos-core
