<div class="dashboard">
    <div class="content">
        <ph-window [title]="'Authentication'" style="grid-row:1/6; grid-column: 1/14">
            <ph-form tabindex="0" (keydown.enter)="login()">
                <ph-input [label]="'USERID'" [(value)]="this.username"></ph-input>
                <ph-input [label]="'PASSWORD'" [type]="'password'" [(value)]="this.password"></ph-input>
            </ph-form>
            <ph-button-list>
                <ph-button (click)="login()">
                    LOGIN
                </ph-button>
            </ph-button-list>
        </ph-window>
    </div>
</div>
