div.dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 96px 1fr;
    grid-template-rows: 32px 1fr;
    grid-gap: 0;

    div.content {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        margin: 12px auto 12px auto;
        align-items: stretch;
        overflow: hidden;

        div.workspace {
            display: grid;
            grid-template-columns: 0.8fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}
